## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
num1 = 5
print(type(num1))
print('El número es', num1)

<class 'int'>
El número es 5

2) Imprimir el tipo de dato de la constante 8.5

In [4]:
num2 = 8.5
print('El tipo de número es:',type(num2))
print('El número es:', num2)

El tipo de número es: <class 'float'>
El número es: 8.5

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [5]:
print(type(num1))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [9]:
nombre1 = 'David'

5) Crear una variable que contenga un número complejo

In [14]:
num3 = 4j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [15]:
print (type(num3))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [16]:
pii = 3.1415

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [17]:
v1 = True
v2 = 'True'
# No es lo mismo ya que una es un valor de verdad (bool) y la otra un string

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [18]:
print(type(v1))
print(type(v2))

<class 'bool'>
<class 'str'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [19]:
num4 = 5 + 3.5

11) Realizar una operación de suma de números complejos

In [20]:
num5 = 5 + 7j
num6 = 7 + 7j
num5 + num6

(12+14j)

12) Realizar una operación de suma de un número real y otro complejo

In [22]:
sumacompl = 5 + 1 + 2j
print(sumacompl)

(6+2j)

In [23]:
5 + 2j

(5+2j)

13) Realizar una operación de multiplicación

In [20]:
3 * 5

15

In [25]:
numa= 3
numb = 5
multiplicacion = numa * numb
print(multiplicacion)

15

14) Mostrar el resultado de elevar 2 a la octava potencia

In [21]:
2**8

256

In [26]:
numc = 2
numd = 8
potencia = numc ** numd
print(potencia)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [23]:
print (27 / 4)

6.75

In [29]:
dividendo = 27
divisor = 4
division = dividendo / divisor
print(division)

6.75

16) De la división anterior solamente mostrar la parte entera

In [24]:
print (27 // 4)

6

In [30]:
parteentera = dividendo // divisor
print(parteentera)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [25]:
print (27 % 4)

3

In [33]:
resto = dividendo % divisor
print('El resto es', resto)

El resto es 3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [27]:
4*6+3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [28]:
a + b

NameError: name 'a' is not defined

In [35]:
c1 = 'Hola'
c2 = ' Melina ♥'
sumac= c1 + c2
print(sumac)

Hola Melina ♥

In [38]:
c3 = 2
c4 = 'perros'
c5 = 'Yo tengo'
sumat = c5 + c4 + c3
print(sumat)
#Como agregamos un valor tipo INT no se puede concatenar

TypeError: can only concatenate str (not "int") to str

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [29]:
num7 = "2"
num8 = 2
num7 == num8
# El resultado es falso debido a que son variables de diferente tipo

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [54]:
num9 = int(num7)
num8 == num9

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [55]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

In [2]:
ab = float('3.8')

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [41]:
a = -3
a -= -5
print(a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [42]:
1 << 2 

# Acá estamos haciendo 0*2**0 + 0*2**1 + 1*2**2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [43]:

2+'2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
float (2) + float ('2')

4.0

In [27]:
int(2) + int('2')

4

In [28]:
str(2) + str('2')

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [20]:
v3 = 3
v4 = ' Soy bueno '
print(v4 * v3  + str(v3) + ' veces' )

 Soy bueno  Soy bueno  Soy bueno 3 veces

In [44]:
v3 = 3
v4 = ' Soy bueno '
print(v4 * v3  + str(v4) + str(v3) + ' veces' )

 Soy bueno  Soy bueno  Soy bueno  Soy bueno 3 veces

In [49]:
v5 = 4
v4 = ' Soy bueno '
print(v4 * v5 + str(v5) + ' veces' )

 Soy bueno  Soy bueno  Soy bueno  Soy bueno 4 veces

In [50]:
variable = 24
print(variable)

24

In [51]:
str(87.5)

'87.5'

In [52]:
float(10)

10.0